<div class="row">
<div class="eleven columns">
  <div class="image">
    <%= image_tag(@share_image.image.url) %>
  </div>
  <div class="description">
    <%= @share_image.description %>
  </div>
</div>
<div class="one columns">
  <div class="close_button_frame"></div>
</div>
</div>

