<%= page_title("Choose Avatar") %>

<div class="row">
<div class="ten columns">
<%= render("choose_system_avatars") %>
</div>
<div class="two columns">
<div class="heads_up_green">
you don't like this avatar? Perhaps you would like to <%= link_to("upload and crop", new_temp_path) %>
</div>
</div>
</div>
