<div class="row">
  <div class="one columns"></div>
  <div class="eleven columns">
    <div class="reply">
      <div class="reply_inside_frame">
        <div class="reply_auther">
          <% if reply.author == @current_user %>
            <strong>you</strong> replied
          <% else %>
            <strong><%= reply.author.name %></strong> replied
          <% end %>
        </div> 
        <div class="reply_content">
          <p><%= reply.content %></p>
        </div>
        <ul class="block-grid two-up">
          <li class="reply_date"><%= reply.created_at %></li>
          <% unless @current_user == reply.author%>
            <li class="reply_link">
              <%= link_to("reply to #{reply.author.name}", 
                           new_reply_path(:comment_id=>reply.id, 
                          :target_type=>"reply"))%>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
