<div class="share_content"><%= share.share_text.content %></div>
<ul class="block-grid three-up">
  <li class="share_date">
    <%= share.created_at %>
  </li>
  <li class="share_link">
  <%= link_to(share.share_text.website_url,
              "http://#{share.share_text.website_url}/") %>
  </li>
  <% is_button_disable ||= false %>
  <% unless is_button_disable%>
    <li class="comment_button">
      <%= link_to("Comment", 
                  new_comment_path(:share_info_id=>share.id),
                  :class=>"white nice button radius")%>
    </li>
  <% end %>
</ul>
