<table>
  <tr>
    <th width="100px">name</th>
    <th width="100px">relationship</th>
    <th width="100px">function</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <% unless @current_user.id == user.id %>
      <td width="100px"><%= user.name %></td>
      <% if @current_user.friends.include?(user) %>
        <td width="100px">friend</td>
        <td width="100px"><%= button_to("add", ask_friendship_path(:id => user.id), 
                          :disabled => true) %></td>
      <% else %>
        <td width="100px">stranger</td>
        <td width="100px"><%= button_to("add", ask_friendship_path(:id => user.id))%></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>
