<% for share_recieved in @recieve_infos do%>
  <p>Content: <%= share_recieved.share_text.content %></p>
  <p>
    Share by: <%= share_recieved.from_user.name %> 
    <%= share_recieved.created_at %>
  </p>
  <p>Original link: <%= share_recieved.url %></p>
  <br />
  --------------------------------------
  <br />
<% end %>
