<% for share_info in @share_infos do%>
  <p>Content: <%= share_info.share_text.content %></p>
  <p>
    Share to:  
    <%for user in share_info.to_users do %>
      <%= "#{user.name} " %>
    <% end %>
    <%= share_info.created_at %>
  </p>
  <p>Original link: <%= share_info.url %></p>
  <br />
  --------------------------------------
  <br />
<% end %>
