<%= page_title("Your Share List") %>
<dl class="tabs contained">
	<dd><a href="#share_from_friend">Shares from friends</a></dd>
  <dd><a href="#share_by_you">Shares by you</a></dd>
</dl>
<ul class="tabs-content contained">
	<li id="share_from_friendTab" class="active">
    <% if @recieve_infos.blank? %>
      <p>
        <b>No share at the moment...</b>
      </p>
    <% else %>
      <%= render(:partial => "share", 
                 :collection => @recieve_infos)%>
    <% end %>
	</li>
  <li id="share_by_youTab">
    <% if @share_infos.blank? %>
      <p>
        <b>No share at the moment...</b>
      </p>
    <% else %>
      <%= render(:partial => "share",
                 :collection => @share_infos) %>
    <% end %>
  </li>
</ul>

