/* Foundation v2.2.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: share
:: comment
:: reply
:: system message
:: choose friends partial
:: profile
:: friend list
:: friend search
:: coordiate info
:: heads_up
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.title{
  float: left;
  font-weight: bold;
  color: black;
  font-size: 2.8em;
}
img{
  border: thin solid #CCCCCC;
}
.secondary_title{
  font-size: 1.5em;
  color: #333;
  font-weight: bold;
  margin: 1em 0 .6em !important;
  text-align: center;
  padding: 1% 2% 0% 2%;
}


/* -----------------------------------------
   share
----------------------------------------- */
.share{
  padding: 3% 3% 3% 3%;
  margin-top: 1%;
  border: thin dotted #C6C6C6;
}
.share_author{
  font: caption;
}
strong{
  color: blue;
}
.share_content{
  font-family:微软雅黑;
  background-color: #F4F4F4;
  border: thin solid #EDEDED;
  padding: 2% 1% 2% 2%; 
  margin-bottom: 2%;
}
.share_link{
  font-family:arial;
  text-decoration:underline;
  text-align: center;
  font-size:8px;
  color:#B4B4B4;
  margin-top: 1%;
  overflow: hidden;
}
.share_date{
  margin-top: 1%;
  text-align:center;
  font-size:8px;
  color:#B4B4B4;
  overflow: hidden;
}
.comment_button{
  text-align: right;
}
.share_button{
  float: right;
}





/* -----------------------------------------
   comment
----------------------------------------- */
.comment{
  border: thin dotted #90F5C0;
}
.comment_inside_frame{
  padding: 2% 2% 2% 2%;
}
.comment_author{
  font: small-caption;
}
strong{
  color: blue;
}
.comment_content{
  font-family:微软雅黑;
  background-color: #F4F4F4;
  border: thin solid #EDEDED;
  padding: 2% 1% 2% 2%; 
  margin-top: 1%;
  margin-bottom: 2%;
}
.comment_link{
  font-family:arial;
  text-decoration:underline;
  margin-top: 1%;
  overflow: hidden;
}
.comment_date{
  text-align:center;
  font-size:8px;
  color:#B4B4B4;
  overflow: hidden;
}
.reply_button{
  text-align:right;
}


/* -----------------------------------------
   reply
----------------------------------------- */
.reply{
  margin-bottom: 2%;
  border-top: thin dotted black;
}
.reply_inside_frame{
  padding: 2% 2% 2% 2%;
}
.reply_author{
}
.reply_content{
  font-family:微软雅黑;
  background-color: #F4F4F4;
  border: thin solid #EDEDED;
  padding: 2% 1% 2% 2%; 
  margin-top: 1%;
  margin-bottom: 2%;
}
.reply_date{
  font-size:8px;
  color:#B4B4B4;
  overflow: hidden;
}
.reply_link{
  text-decoration: underline;
  text-align:right;
  color:black;
  font-weight: bold;
  overflow: hidden;
}

/* -----------------------------------------
   system message
----------------------------------------- */
.system_messages_wrapper{
  padding: 2% 2% 2% 2%;

  margin: 1% 4% 3% 4%;
  border-bottom: thin dotted black;
}
.system_message{
  padding-bottom: 1%;
}
.unread_system_message{
  padding-bottom: 1%;
}

/* -----------------------------------------
   choose friends partial
----------------------------------------- */
.choose_friends{}
.choose_friends_title{
  font-weight: bold;
}
.choose_friends_list{}

/* -----------------------------------------
   profile
----------------------------------------- */
.profile{ }
.profile_image{ }
.profile_info{
  top: 100px;
  font-size: 1.1em;
  font-weight: bold;
}
.profile_info_term{
  padding: 1% 1% 1% 1%;
}
.profile_button{
  text-align: right;
}
.profile_button_term{
  padding-top: 5%;
  border-right: thin dotted #CCCCCC;
  border-bottom: thin dotted #CCCCCC;
}

/* -----------------------------------------
   friend list
----------------------------------------- */
.friend_list{
  padding: 3% 5% 3% 5%;
}
.friend_term{
  padding-bottom: 1%;
  padding-top: 2%;
  border-top: thin dotted #CCCCCC;
}
.friend_info{
  font-family: "Trebuchet MS", Verdana, Helvetica, Arial,sans-serif;
  color: #444;
  font-weight: bold;
  font-size: 1.2em;
}

/* -----------------------------------------
   friend search
----------------------------------------- */
.search_field{
  width: 250px;
  display: inline-block;
}
.search_button{
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  left: -20px;
  border: 0;
  cursor: pointer;
}
.search_title{
  font-size: 1.3em;
  font-style: italic;
  font-weight: bold;
  line-height: 1;
  margin-right: .5em;
  display: inline-block;
}


/* -----------------------------------------
   coordinate_info
----------------------------------------- */
.coordinate_info{
  padding: 6px 7px;
}
.coordinate_title{
  font-weight: bold;
}
.coordinate_term{
  padding: 6px 7px;
}





/* -----------------------------------------
   heads_up
----------------------------------------- */
.heads_up_yellow{
  border: thin dotted #F68B01;
  padding: 6px 7px;
  font-weight: bold;
  font-size: 13px;
  font-style: italic;
  margin: 5% 2% 3% 0%;
}
.heads_up_green{
  border: thin dotted #7FAE00;
  padding: 6px 7px;
  font-weight: bold;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 12px;
}
